@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.home {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home__img {
  width: 100%;
  padding: 0.5em 2.5em;
  max-width: 500px;
}

.section__home {
  margin-top: -3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
  color: #fe1936;
}

.home_p {
  font-style: normal;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 2em;
  text-align: center;
  color: #302f2f;
}

.home__trainer-name {
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 1em;
}

.home__trainer-btn {
  background: #d93f3f;
  border: none;
  padding: 1em;
  color: white;
}

.home__footer {
  position: absolute;
  bottom: 0em;
  width: 100%;
}

.rectangle__red {
  position: absolute;
  width: 100%;
  height: 2.7em;
  left: 0px;
  z-index: 5000;
  background: #dd1a1a;
}

.rectangle__black {
  width: 100%;
  height: 4.5em;
  left: 0px;
  background: #0c0c0c;
}

.pokeball {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.elipse1 {
  position: absolute;
  background: #ffffff;
  border: 0.4em solid #000000;
  z-index: 8000;
  border-radius: 50%;
  height: 3.7em;
  width: 3.7em;
  bottom: 0;
}

.elipse2 {
  position: absolute;
  background: #212121;
  border: 0.4em solid #000000;
  z-index: 9000;
  border-radius: 50%;
  width: 1.7em;
  height: 1.7em;
  bottom: 1em;
}

.pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokedex__welcome {
  color: var(--common-text);
  text-align: left;
  font-size: 1rem;
  margin-top: 2em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.pokedex__welcome span {
  color: var(--special-text);
}

.pokedex__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.pokedex__input {
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 1em;
}

.pokedex__btn {
  background: #d93f3f;
  border: none;
  padding: 1em;
  color: white;
}

.pokedex__select {
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 1em 6.6em;
}

.pokemon {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  min-width: 350px;
}

@media (min-width: 700px) {
  .pokemon {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
