* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #dd1a1a;
  --secondary: #0c0c0c;
  --common-text: #333333;
  --special-text: #fe1936;
  --circle--background-1: #ffffff;
  --circle--background-2: #212121;
  --circle--border: #212121;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

input,
button {
  font-family: inherit;
  border: none;
}
