.btn__return {
  position: absolute;
  top: 90px;
  left: 10%;
  padding: 1em;
  border-radius: 100%;
  font-size: 1em;
  font-weight: 500;
  color: black;
  background-color: #bbbebd;
  transition: transform 1s, color 1s, background-color 1s;
}
.btn__return:hover {
  transform: scale(1.2);
  color: #bbbebd;
  background-color: black;
}

.pokedexName__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
  padding: 0em 2em;
}

.error__msg {
  text-align: center;
}

.pokedexName {
  margin-top: 80px;
  width: 100%;
  max-width: 700px;
  font-size: 1rem;
  transition: transform 150ms ease;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.pokedexName__header {
  aspect-ratio: 4;
  position: relative;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.pokedexName__img {
  position: absolute;
  max-width: 150px;
  left: 50%;
  bottom: 0em;
  transform: translateX(-50%);
}

.pokedexName__id {
  text-align: center;
}

.pokedexName__id h1 {
  margin-top: 0.5em;
}

.pokedexName__name {
  text-transform: capitalize;
  text-align: center;
}

.pokedexName__name::before {
  content: "-";
}

.pokedexName__name::after {
  content: "-";
}

.pokedexName__sizes {
  margin-top: 0.5em;
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5em;
  color: #030706;
}

.pokedexName__sizes p:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.pokedexName__sizes p:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.pokedexName__sizes p span:nth-child(1) {
  font-size: 0.6rem;
}

.pokedexName__sizes p span:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 600;
}

.pokedexName__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0em;
  text-transform: capitalize;
  gap: 0.5em;
}

.pokedexName__content h4 {
  color: #030706;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.pokedexName__content ul:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 50%;
}

.pokedexName__content ul:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.pokedexName__types {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0em 1em;
}

.pokedexName__types-item {
  color: white;
  padding: 0.5em 2.5em;
  border-radius: 0.2em;
  font-weight: 500;
  transition: transform 1s;
  text-shadow: #030706 0.2em 0.2em 0.2em;
}

.pokedexName__types-item:hover {
  transform: scale(1.1);
}

.pokedexName__abilities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0em 1em;
}

.pokedexName__abilities-item {
  color: black;
  border: 1px solid black;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font-weight: 500;
  transition: transform 1s, color 1s, border 1s, background-color 1s;
}

.pokedexName__abilities-item:hover {
  color: white;
  border: 1px solid white;
  background-color: black;
  transform: scale(1.1);
}

.pokedexName__separator {
  padding: 0em 0.5em;
  filter: brightness(0.7);
}

.pokedexName__movements-img {
  width: 100%;
}

.pokedexName__stats-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  padding: 1em 0.5em;
  color: #030706;
}

.pokedexName__stats-values li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
}

.pokedexName__stats-values li span:nth-child(2)::after {
  content: "/150";
}

.p1 {
  width: 100%;
  background-color: #f6f6f6;
  height: 3vh;
}

.p2 {
  width: 50%;
  height: 3vh;
  background: linear-gradient(90deg, #fcd676 -2.25%, #e6901e 133.18%);
  transition: width 1s;
}

.pokedexName__moves {
  width: 100%;
  max-width: 700px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  margin-bottom: 2em;
  padding: 1em;
}

.pokedexName__movements-img {
  margin-top: 1em;
}

.pokedexName__moves {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  font-weight: 400;
  width: 100%;
}

.pokedexName__moves-item {
  background-color: gainsboro;
  padding: 0.5em 1em;
  border-radius: 1em;
  width: 75%;
  text-align: center;
  color: black;
}

.type-fire {
  background: linear-gradient(
    176.37deg,
    #f96d6f -32.26%,
    #e35825 22.55%,
    #e8ae1b 125.72%
  );
}

.type-water {
  background-color: #1479fb;

  background: linear-gradient(
    179.57deg,
    #133258 -70.14%,
    #1479fb 56.16%,
    #82b2f1 214.85%
  );
}

.type-bug {
  background-color: #4ab648;

  background: linear-gradient(
    177.56deg,
    #62db60 -58.92%,
    #3bb039 16.57%,
    #aaffa8 209.53%
  );
}

.type-grass {
  background-color: #416460;

  background: linear-gradient(
    178.92deg,
    #50c5c3 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
}

.type-normal {
  background-color: #735259;

  background: linear-gradient(
    181.51deg,
    #735259 -6.44%,
    #bc6b7c 121.95%,
    #7c3f4c 186.11%
  );
}

.type-fighting {
  background-color: #96402a;

  background: linear-gradient(
    176.83deg,
    #96402a -8.78%,
    #f1613c 169.09%,
    #cb735d 242.33%
  );
}

.type-poison {
  background: linear-gradient(
    177.03deg,
    #5b3184 -11.97%,
    #a564e3 71.28%,
    #ce9bff 135.64%
  );
}

.type-ghost {
  background: linear-gradient(
    177.03deg,
    #323569 -11.97%,
    #454aa8 57.49%,
    #787dda 135.64%
  );
}

.type-rock {
  background: linear-gradient(
    177.03deg,
    #7e7e7e -11.97%,
    #8d8d94 57.49%,
    #d3d3d3 135.64%
  );
}

.type-dark {
  background: linear-gradient(
    177.03deg,
    #030706 -11.97%,
    #0d1211 57.49%,
    #5a5e5d 135.64%
  );
}

.type-ice {
  background: linear-gradient(
    177.03deg,
    #6fbedf -11.97%,
    #64cbf5 47.77%,
    #bdebfe 136.72%
  );
}

.type-steel {
  background: linear-gradient(
    179.75deg,
    #5e736c -19.96%,
    #728881 43.67%,
    #a8a8a8 138.4%
  );
}

.type-electric {
  background: linear-gradient(
    179.75deg,
    #bccf10 -19.96%,
    #cfe224 43.67%,
    #f8af5b 138.4%
  );
}

.type-fairy {
  background: linear-gradient(
    179.75deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
}

.type-psychic {
  background: linear-gradient(
    179.75deg,
    #b447f3 -19.96%,
    #bb66ec 43.67%,
    #c687eb 138.4%
  );
}

.type-ground {
  background: linear-gradient(
    179.75deg,
    #654008 -19.96%,
    #895c1a 43.67%,
    #d69638 138.4%
  );
}

.type-dragon {
  background: linear-gradient(
    179.75deg,
    #478a93 -19.96%,
    #56a4ae 43.67%,
    #a2bec1 138.4%
  );
}

.type-flying {
  background: linear-gradient(
    179.75deg,
    #82d8e4 -19.96%,
    #98e6f0 43.67%,
    #d7eff1 138.4%
  );
}

@media (min-width: 500px) {
  .pokedexName__img {
    max-width: 200px;
  }

  .pokedexName__sizes p span:nth-child(1) {
    font-size: 0.8rem;
  }

  .pokedexName__sizes p span:nth-child(2) {
    font-size: 1.2rem;
  }

  .pokedexName__moves {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pokedexName__moves-item {
    width: 40%;
  }
}

@media (min-width: 700px) {
  .pokedexName__img {
    max-width: 250px;
  }

  .pokedexName__moves-item {
    width: 25%;
  }

  .pokedexName__content {
    flex-direction: row;
  }
}
